-i https://pypi.org/simple
alembic==1.0.3
click==7.0; python_version >= '2.7'
flask-migrate==2.3.0
flask-sqlalchemy==2.3.2
flask==1.0.2
itsdangerous==1.1.0; python_version != '3.2.*'
jinja2==2.10
mako==1.0.7; python_version != '3.2.*'
markupsafe==1.1.0; python_version != '3.2.*'
python-dateutil==2.7.5
python-editor==1.0.3
six==1.11.0
sqlalchemy-utils==0.33.8
sqlalchemy==1.2.14
werkzeug==0.14.1
