a:focus {
  outline: none;
}
html {
  background-image: url("/static/grey.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

.card {
  height: 100%;
}

.media-content {
  overflow: hidden;
}
