{% extends "base.html" %}

{% block body %}
  <div class="card">
    <div class="card-content">
      <h1 class="title">Super Cool Tech Talk</h1>
      <h5 class="subtitle">By Person</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tellus odio, placerat vitae nibh eu, tempus facilisis sem. Quisque maximus, elit non interdum malesuada, arcu lacus finibus eros, sed tempus metus odio eget dolor. Cras euismod rhoncus convallis. Sed sodales, urna sed mattis eleifend, nisl sapien sagittis ante, eu eleifend lorem ipsum non urna. Integer purus diam, posuere ac enim eu, iaculis auctor lorem. Fusce efficitur neque velit, nec eleifend lacus feugiat ac. Aliquam vel gravida urna, in pretium ex. Morbi lobortis ipsum libero, eget ultrices ipsum euismod non. Curabitur vitae enim rutrum, posuere nunc sed, vestibulum eros. Duis venenatis convallis ipsum, at suscipit velit mollis in. </p>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item">Register</a>
      <a class="card-footer-item">More Information</a>
    </footer>
  </div>
  &nbsp;
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-header">
          <h1 class="card-header-title">About SIG-Security</h1>
        </div>
        <div class="card-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget porttitor tortor. Nullam in vehicula nunc, at iaculis elit. Curabitur sollicitudin finibus metus, vitae vulputate eros tristique eu. Pellentesque metus velit, finibus vel viverra nec, rutrum id mauris. Donec pretium velit purus. Cras laoreet urna turpis, vitae feugiat mauris viverra a. Vestibulum sed laoreet sapien. Suspendisse fermentum blandit augue, et pellentesque eros. Curabitur volutpat metus eu enim auctor, nec tempor massa pharetra. Maecenas aliquam accumsan massa quis faucibus. Cras suscipit id lacus ac blandit. </p>
        </div>
      </div>
    </div>
    <div class="column">
        <div class="card">
          <div class="card-header">
            <h1 class="card-header-title">Something Else</h1>
          </div>
          <div class="card-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam gravida facilisis ex, varius dapibus erat finibus ac. Aliquam bibendum, ligula id ultrices faucibus, lectus felis pretium nisl, eget porta dui risus nec velit. Praesent ligula velit, egestas id egestas in, ornare eu odio. Fusce quis fringilla risus. Nunc placerat metus non auctor laoreet. Praesent finibus, neque vel lobortis rutrum, elit nulla condimentum enim, id tincidunt metus felis vel augue. Aliquam eget sem viverra, vestibulum diam sit amet, eleifend ante. Praesent sed gravida sapien, vitae tempor risus. Fusce at egestas massa, ut ultrices lorem. Donec id bibendum lacus. Phasellus id lectus ac felis facilisis lobortis. Proin sed dapibus lectus. Etiam convallis quam mauris, at vulputate diam imperdiet ut. </p>
          </div>
        </div>
      </div>
  </div>

{% endblock %}
