{% extends "base.html" %}

{% block body %}
<div class="columns">
  <div class="column">
    <div class="card columns">
      <div class="card-image column is-one-fifth">
        <figure class="image is-square">
          <img src="http://placehold.it/500x500">
        </figure>
      </div>
      <div class="card-content column">
        <h1 class="title">Tanner Stephens</h1>
        <h5 class="subtitle">Chair and CTF Captain</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit, ipsum ut ullamcorper eleifend, erat nibh suscipit justo, non ultricies nunc sem nec quam. Sed purus eros, sagittis nec ultrices non, pretium a felis.</p>
        <a class="button">LinkedIn</a>
        <a class="button">Email</a>
      </div>
    </div>
    &nbsp;
    <div class="card columns">
      <div class="card-image column is-one-fifth">
        <figure class="image is-square">
          <img src="http://placehold.it/500x500">
        </figure>
      </div>
      <div class="card-content column">
        <h1 class="title">Hannah Reinbolt</h1>
        <h5 class="subtitle">Webmaster</h5>
        <p>Some text can go here</p>
        <a class="button">LinkedIn</a>
        <a class="button">Email</a>
      </div>
    </div>
    &nbsp;
    <div class="card columns">
      <div class="card-image column is-one-fifth">
        <figure class="image is-square">
          <img src="http://placehold.it/500x500">
        </figure>
      </div>
      <div class="card-content column">
        <h1 class="title">Alexander Hatfalvi</h1>
        <h5 class="subtitle">Webmaster and Archivist</h5>
        <p>Some text can go here</p>
        <a class="button">LinkedIn</a>
        <a class="button">Email</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
