{% extends "base.html" %}

{% block body %}
<div class="columns">
  <div class="column is-one-third">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="https://acmsigsec.mst.edu/archives/images/officers/tanner-stephens.png">
        </figure>
      </div>
      <div class="card-content">
        <h1 class="title">Tanner Stephens</h1>
        <h5 class="subtitle">Chair and CTF Captian</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec ante quis urna hendrerit maximus eget et mi. Maecenas ipsum justo, lacinia eget tristique quis, posuere ut risus.</p>
      </div>
      <footer class="card-footer">
        <span class="card-footer-item">
          <a>
            <i class="fab fa-linkedin fa-2x has-text-link"></i>
          </a>
          &nbsp;
          <a>
            <i class="fab fa-github fa-2x has-text-black"></i>
          </a>
          &nbsp;
          <a>
            <i class="fas fa-at fa-2x has-text-danger"></i></span>
          </a>
        </span>
      </footer>
    </div>
  </div>
  <div class="column is-one-third">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="https://acmsigsec.mst.edu/archives/images/officers/hannah-reinbolt.png">
        </figure>
      </div>
      <div class="card-content">
        <h1 class="title">Hannah Reinbolt</h1>
        <h5 class="subtitle">Webmaster</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec ante quis urna hendrerit maximus eget et mi. Maecenas ipsum justo, lacinia eget tristique quis, posuere ut risus.</p>
      </div>
      <footer class="card-footer">
        <span class="card-footer-item">
          <a>
            <i class="fab fa-linkedin fa-2x has-text-link"></i>
          </a>
          &nbsp;
          <a>
            <i class="fab fa-github fa-2x has-text-black"></i>
          </a>
          &nbsp;
          <a>
            <i class="fas fa-at fa-2x has-text-danger"></i></span>
          </a>
        </span>
      </footer>
    </div>
  </div>
  <div class="column is-one-third">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="https://acmsigsec.mst.edu/archives/images/officers/AlexH.PNG">
        </figure>
      </div>
      <div class="card-content">
        <h1 class="title">Alexander Hatfalvi</h1>
        <h5 class="subtitle">Webmaster and Archivist</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec ante quis urna hendrerit maximus eget et mi. Maecenas ipsum justo, lacinia eget tristique quis, posuere ut risus.</p>
      </div>
      <footer class="card-footer">
        <span class="card-footer-item">
          <a>
            <i class="fab fa-linkedin fa-2x has-text-link"></i>
          </a>
          &nbsp;
          <a>
            <i class="fab fa-github fa-2x has-text-black"></i>
          </a>
          &nbsp;
          <a>
            <i class="fas fa-at fa-2x has-text-danger"></i></span>
          </a>
        </span>
      </footer>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column is-one-third">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="https://acmsigsec.mst.edu/archives/images/officers/kevin-newell.png">
        </figure>
      </div>
      <div class="card-content">
        <h1 class="title">Kevin Newell</h1>
        <h5 class="subtitle">Vice-Chair and CTF Coordinator</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec ante quis urna hendrerit maximus eget et mi. Maecenas ipsum justo, lacinia eget tristique quis, posuere ut risus.</p>
      </div>
      <footer class="card-footer">
        <span class="card-footer-item">
          <a>
            <i class="fab fa-linkedin fa-2x has-text-link"></i>
          </a>
          &nbsp;
          <a>
            <i class="fab fa-github fa-2x has-text-black"></i>
          </a>
          &nbsp;
          <a>
            <i class="fas fa-at fa-2x has-text-danger"></i></span>
          </a>
        </span>
      </footer>
    </div>
  </div>
  <div class="column is-one-third">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="https://acmsigsec.mst.edu/archives/images/officers/steven-giangreco.png">
        </figure>
      </div>
      <div class="card-content">
        <h1 class="title">Steven Giangreco</h1>
        <h5 class="subtitle">Special Projects</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec ante quis urna hendrerit maximus eget et mi. Maecenas ipsum justo, lacinia eget tristique quis, posuere ut risus.</p>
      </div>
      <footer class="card-footer">
        <span class="card-footer-item">
          <a>
            <i class="fab fa-linkedin fa-2x has-text-link"></i>
          </a>
          &nbsp;
          <a>
            <i class="fab fa-github fa-2x has-text-black"></i>
          </a>
          &nbsp;
          <a>
            <i class="fas fa-at fa-2x has-text-danger"></i></span>
          </a>
        </span>
      </footer>
    </div>
  </div>
  <div class="column is-one-third">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="https://acmsigsec.mst.edu/archives/images/officers/ShelbyH.PNG">
        </figure>
      </div>
      <div class="card-content">
        <h1 class="title">Shelby Hayes</h1>
        <h5 class="subtitle">Special Projects</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec ante quis urna hendrerit maximus eget et mi. Maecenas ipsum justo, lacinia eget tristique quis, posuere ut risus.</p>
      </div>
      <footer class="card-footer">
        <span class="card-footer-item">
          <a>
            <i class="fab fa-linkedin fa-2x has-text-link"></i>
          </a>
          &nbsp;
          <a>
            <i class="fab fa-github fa-2x has-text-black"></i>
          </a>
          &nbsp;
          <a>
            <i class="fas fa-at fa-2x has-text-danger"></i></span>
          </a>
        </span>
      </footer>
    </div>
  </div>
</div>
{% endblock %}
