{% extends "base.html" %}

{% block body %}
<div class="columns">
  <div class="column is-one-third">
    <div class="card">
      <div class="card-content">
        <article class="media">
          <figure class="media-left">
            <p class="image is-128x128">
              <img class="is-rounded" src="https://acmsigsec.mst.edu/archives/images/officers/tanner-stephens.png">
            </p>
          </figure>
          <div class="media-content">
            <h1 class="title">Tanner Stephens</h1>
            <h5 class="subtitle">Chair and CTF Captian</h5>
          </div>
        </article>        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec ante quis urna hendrerit maximus eget et mi. Maecenas ipsum justo, lacinia eget tristique quis, posuere ut risus.</p>
      </div>
      <footer class="card-footer">
        <span class="card-footer-item">
          <a title="LinkedIn">
            <i class="fab fa-linkedin fa-2x has-text-link"></i>
          </a>
          &nbsp;
          <a title="Github">
            <i class="fab fa-github fa-2x has-text-black"></i>
          </a>
          &nbsp;
          <a title="Email">
            <i class="fas fa-at fa-2x has-text-danger"></i></span>
          </a>
        </span>
      </footer>
    </div>
  </div>
  <div class="column is-one-third">
    <div class="card">
      <div class="card-content">
        <article class="media">
          <figure class="media-left">
            <p class="image is-128x128">
              <img class="is-rounded" src="https://acmsigsec.mst.edu/archives/images/officers/hannah-reinbolt.png">
            </p>
          </figure>
          <div class="media-content">
            <h1 class="title">Hannah Reinbolt</h1>
            <h5 class="subtitle">Webmaster</h5>
          </div>
        </article>        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec ante quis urna hendrerit maximus eget et mi. Maecenas ipsum justo, lacinia eget tristique quis, posuere ut risus.</p>
      </div>
      <footer class="card-footer">
        <span class="card-footer-item">
          <a title="LinkedIn">
            <i class="fab fa-linkedin fa-2x has-text-link"></i>
          </a>
          &nbsp;
          <a title="Github">
            <i class="fab fa-github fa-2x has-text-black"></i>
          </a>
          &nbsp;
          <a title="Email">
            <i class="fas fa-at fa-2x has-text-danger"></i></span>
          </a>
        </span>
      </footer>
    </div>
  </div>
  <div class="column is-one-third">
    <div class="card">
      <div class="card-content">
        <article class="media">
          <figure class="media-left">
            <p class="image is-128x128">
              <img class="is-rounded" src="https://acmsigsec.mst.edu/archives/images/officers/AlexH.PNG">
            </p>
          </figure>
          <div class="media-content">
            <h1 class="title">Alexander Hatfalvi</h1>
            <h5 class="subtitle">Webmaster and Archivist</h5>
          </div>
        </article>        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec ante quis urna hendrerit maximus eget et mi. Maecenas ipsum justo, lacinia eget tristique quis, posuere ut risus.</p>
      </div>
      <footer class="card-footer">
        <span class="card-footer-item">
          <a title="LinkedIn">
            <i class="fab fa-linkedin fa-2x has-text-link"></i>
          </a>
          &nbsp;
          <a title="Github">
            <i class="fab fa-github fa-2x has-text-black"></i>
          </a>
          &nbsp;
          <a title="Email">
            <i class="fas fa-at fa-2x has-text-danger"></i></span>
          </a>
        </span>
      </footer>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column is-one-third">
    <div class="card">
      <div class="card-content">
        <article class="media">
          <figure class="media-left">
            <p class="image is-128x128">
              <img class="is-rounded" src="https://acmsigsec.mst.edu/archives/images/officers/kevin-newell.png">
            </p>
          </figure>
          <div class="media-content">
            <h1 class="title">Kevin Newell</h1>
            <h5 class="subtitle">Vice-Chair and CTF Coordinator</h5>
          </div>
        </article>        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec ante quis urna hendrerit maximus eget et mi. Maecenas ipsum justo, lacinia eget tristique quis, posuere ut risus.</p>
      </div>
      <footer class="card-footer">
        <span class="card-footer-item">
          <a title="LinkedIn">
            <i class="fab fa-linkedin fa-2x has-text-link"></i>
          </a>
          &nbsp;
          <a title="Github">
            <i class="fab fa-github fa-2x has-text-black"></i>
          </a>
          &nbsp;
          <a title="Email">
            <i class="fas fa-at fa-2x has-text-danger"></i></span>
          </a>
        </span>
      </footer>
    </div>
  </div>
  <div class="column is-one-third">
    <div class="card">
      <div class="card-content">
        <article class="media">
          <figure class="media-left">
            <p class="image is-128x128">
              <img class="is-rounded" src="https://acmsigsec.mst.edu/archives/images/officers/steven-giangreco.png">
            </p>
          </figure>
          <div class="media-content">
            <h1 class="title">Steven Giangreco</h1>
            <h5 class="subtitle">Special Projects</h5>
          </div>
        </article>        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec ante quis urna hendrerit maximus eget et mi. Maecenas ipsum justo, lacinia eget tristique quis, posuere ut risus.</p>
      </div>
      <footer class="card-footer">
        <span class="card-footer-item">
          <a title="LinkedIn">
            <i class="fab fa-linkedin fa-2x has-text-link"></i>
          </a>
          &nbsp;
          <a title="Github">
            <i class="fab fa-github fa-2x has-text-black"></i>
          </a>
          &nbsp;
          <a title="Email">
            <i class="fas fa-at fa-2x has-text-danger"></i></span>
          </a>
        </span>
      </footer>
    </div>
  </div>
  <div class="column is-one-third">
    <div class="card">
      <div class="card-content">
        <article class="media">
          <figure class="media-left">
            <p class="image is-128x128">
              <img class="is-rounded" src="https://acmsigsec.mst.edu/archives/images/officers/ShelbyH.PNG">
            </p>
          </figure>
          <div class="media-content">
            <h1 class="title">Shelby Hayes</h1>
            <h5 class="subtitle">Special Projects</h5>
          </div>
        </article>        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec ante quis urna hendrerit maximus eget et mi. Maecenas ipsum justo, lacinia eget tristique quis, posuere ut risus.</p>
      </div>
      <footer class="card-footer">
        <span class="card-footer-item">
          <a title="LinkedIn">
            <i class="fab fa-linkedin fa-2x has-text-link"></i>
          </a>
          &nbsp;
          <a title="Github">
            <i class="fab fa-github fa-2x has-text-black"></i>
          </a>
          &nbsp;
          <a title="Email">
            <i class="fas fa-at fa-2x has-text-danger"></i></span>
          </a>
        </span>
      </footer>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column is-one-third">
    <div class="card">
      <div class="card-content">
        <article class="media">
          <figure class="media-left">
            <p class="image is-128x128">
              <img class="is-rounded" src="https://acmsigsec.mst.edu/archives/images/officers/pamela_petterchak.png">
            </p>
          </figure>
          <div class="media-content">
            <h1 class="title">Pamela Petterchak</h1>
            <h5 class="subtitle">Publicity</h5>
          </div>
        </article>        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec ante quis urna hendrerit maximus eget et mi. Maecenas ipsum justo, lacinia eget tristique quis, posuere ut risus.</p>
      </div>
      <footer class="card-footer">
        <span class="card-footer-item">
          <a title="LinkedIn">
            <i class="fab fa-linkedin fa-2x has-text-link"></i>
          </a>
          &nbsp;
          <a title="Github">
            <i class="fab fa-github fa-2x has-text-black"></i>
          </a>
          &nbsp;
          <a title="Email">
            <i class="fas fa-at fa-2x has-text-danger"></i></span>
          </a>
        </span>
      </footer>
    </div>
  </div>
  <div class="column is-one-third">
    <div class="card">
      <div class="card-content">
        <article class="media">
          <figure class="media-left">
            <p class="image is-128x128">
              <img class="is-rounded" src="https://acmsigsec.mst.edu/archives/images/officers/Kevin_Patel.png">
            </p>
          </figure>
          <div class="media-content">
            <h1 class="title">Kevin Patel</h1>
            <h5 class="subtitle">Secretary</h5>
          </div>
        </article>        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec ante quis urna hendrerit maximus eget et mi. Maecenas ipsum justo, lacinia eget tristique quis, posuere ut risus.</p>
      </div>
      <footer class="card-footer">
        <span class="card-footer-item">
          <a title="LinkedIn">
            <i class="fab fa-linkedin fa-2x has-text-link"></i>
          </a>
          &nbsp;
          <a title="Github">
            <i class="fab fa-github fa-2x has-text-black"></i>
          </a>
          &nbsp;
          <a title="Email">
            <i class="fas fa-at fa-2x has-text-danger"></i></span>
          </a>
        </span>
      </footer>
    </div>
  </div>
  <div class="column is-one-third">
    <div class="card">
      <div class="card-content">
        <article class="media">
          <figure class="media-left">
            <p class="image is-128x128">
              <img class="is-rounded" src="https://acmsigsec.mst.edu/archives/images/officers/dr-t.png">
            </p>
          </figure>
          <div class="media-content">
            <h1 class="title">Dr. Tauritz</h1>
            <h5 class="subtitle">Advisor</h5>
          </div>
        </article>        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec ante quis urna hendrerit maximus eget et mi. Maecenas ipsum justo, lacinia eget tristique quis, posuere ut risus.</p>
      </div>
      <footer class="card-footer">
        <span class="card-footer-item">
          <a title="LinkedIn">
            <i class="fab fa-linkedin fa-2x has-text-link"></i>
          </a>
          &nbsp;
          <a title="Github">
            <i class="fab fa-github fa-2x has-text-black"></i>
          </a>
          &nbsp;
          <a title="Email">
            <i class="fas fa-at fa-2x has-text-danger"></i></span>
          </a>
        </span>
      </footer>
    </div>
  </div>
</div>
{% endblock %}
